# Gradle / IDE
.vscode
.gradle
/.kotlin
/.idea
*.iml
local.properties
.zcodeignore

# Build outputs
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Logs & temp files
*.log
build_log.txt
ci_log.txt

# OS
.DS_Store
Thumbs.db
